{% extends "base_analysis.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
  /* General body styling */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  /* Container styling for a full-screen layout */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambié a 'flex-start' para alinearlo desde arriba */
    height: 100vh;
    padding-top: 50px; /* Añadí un padding-top para mover los botones hacia abajo */
    box-sizing: border-box;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>LULC Change Analysis</h1>
    <p>Please set the name of the variable classified as 'class'.</p>
    <form method="POST" enctype="multipart/form-data">
        <label for="file1">Upload LULC GeoJson Date 1</label>
        <input type="file" name="file1" accept=".geojson" required><br><br>
        
        <label for="file2">Upload LULC GeoJson Date 2</label>
        <input type="file" name="file2" accept=".geojson" required><br><br>
        
        <button type="submit">Upload and Calculate</button>
    </form>

    <h3>LU/LC Classes</h3>
  <div class="badge-container">
    <span class="badge" style="background-color: #761800;">1.1 Urban</span>
    <span class="badge" style="background-color: #934741;">1.2 Industrial and commercial</span>
    <span class="badge" style="background-color: #4616d4;">1.3 Mine, dump and construction</span>
    <span class="badge" style="background-color: #A600CC;">1.4 Artificial non-agricultural vegetated areas</span>
    <span class="badge" style="background-color: #e8d610;">2.1 Arable Land</span>
    <span class="badge" style="background-color: #F2CCAA;">2.2 Permanent crops</span>
    <span class="badge" style="background-color: #cddc97;">2.3 Pastures</span>
    <span class="badge" style="background-color: #dbc382;">2.4 Heterogeneous agricultural areas</span>
    <span class="badge" style="background-color: #3a6a00;">3.1 Forest</span>
    <span class="badge" style="background-color: #cafb4d;">3.2 Shrub or herbaceous vegetation</span>
    <span class="badge" style="background-color: #bfc5b9;">3.3 Little Vegetated Areas</span>
    <span class="badge" style="background-color: #6b5c8c;">4.1 Wetlands</span>
    <span class="badge" style="background-color: #0127ff;">5.1 Water bodies</span>

    {% if map_url %}
    <h3>Successful analysis!</h3>
    <div style="display: flex; justify-content: space-between; width: 100%; height: 600px;">
        <!-- Primer mapa -->
        <iframe src="{{ map_url }}" width="100%" height="500px"></iframe>
    </div>
    {% endif %}

    {% if graph_url %}
    <div class="graph">
        <h3>Change in Area by Class</h3>
        <img src="{{ graph_url }}" alt="Change in Area by Class">
    </div>
    {% endif %}
</div>


{% endblock %}
